.root {
    -fx-background-color: null;
    -base-hover-color: #1ECE9A;

}

/*----图标按钮的通用样式--------*/
.svg-btn {
    -fx-max-width: 16;
    -fx-max-height: 16;
}

.svg-btn Region {
    -fx-background-color: white;
}

.svg-btn:hover Region {
    -fx-background-color: -base-hover-color;
}

.content-pane {
    -fx-background-color: #0b4580;
    -fx-background-image: url("../img/bg_black.jpg");
    -fx-background-size: cover;
}

/*------------底部区域 --------------*/
.time-label {
    -fx-text-fill: white;
    -fx-font-size: 20;
}

.prev-btn Region {
    -fx-shape: "M381.44 577.28l346.88 240.64c34.56 24.32 83.2-1.28 83.2-43.52V293.12c0-42.24-47.36-67.84-83.2-43.52L381.44 490.24c-30.72 20.48-30.72 65.28 0 87.04zM320 828.16c-21.76 0-38.4-16.64-38.4-38.4v-512c0-21.76 16.64-38.4 38.4-38.4s38.4 16.64 38.4 38.4v512c0 20.48-16.64 38.4-38.4 38.4z";
}

.play-btn {
    -fx-background-color: null;
}

.play-btn Region {
    -fx-pref-width: 30;
    -fx-pref-height: 30;
    -fx-shape: "M512 0a512 512 0 1 0 512 512A512 512 0 0 0 512 0z m216.992 541.128L404.96 728.208a33.6 33.6 0 0 1-50.456-29.128V324.928a33.6 33.6 0 0 1 50.456-29.136l324 187.08a33.6 33.6 0 0 1 0 58.256z m0 0";
    -fx-background-color: -base-hover-color;
}

.play-btn:selected Region {
    -fx-shape: "M512 1024A512 512 0 1 1 512 0a512 512 0 0 1 0 1024zM320 320v384h128V320H320z m256 0v384h128V320H576z";
}

.next-btn Region {
    -fx-shape: "M686.08 448L339.2 207.36c-34.56-24.32-83.2 1.28-83.2 43.52v481.28c0 42.24 47.36 67.84 83.2 43.52l346.88-240.64c29.44-21.76 29.44-66.56 0-87.04zM746.24 785.92c-21.76 0-38.4-16.64-38.4-38.4v-512c0-21.76 16.64-38.4 38.4-38.4s38.4 16.64 38.4 38.4v512c0 20.48-16.64 38.4-38.4 38.4z";
}

.show-list-btn Region {
    -fx-shape: "M1003.93551646 175.21292325c-55.92405333-63.79484562-127.17543939-113.71224178-205.88336713-144.15978192a41.30094862 41.30094862 0 0 0-56.33830517 38.52545897v510.15164207a216.03254636 216.03254636 0 0 0-134.63197984-47.01762962c-119.92602548 0-217.48242963 97.55640415-217.48242963 217.48242963S487.15583883 967.67747201 607.08186432 967.67747201s217.48242963-97.55640415 217.48242962-217.48242963c0-2.27838695-0.20712653-4.55677511-0.41425305-6.83516207 0-1.24275675 0.41425184-2.27838695 0.41425305-3.52114492V134.82332918c43.91073777 24.64800829 83.88608 56.95968355 117.23338547 94.86376414 15.12020741 17.19146784 41.42522429 18.84847764 58.40956682 3.72827023 17.19146784-14.91308089 18.84847764-41.01097245 3.72827023-58.2024403zM607.08186432 884.82702222c-74.15115261 0-134.63197984-60.48082845-134.63198106-134.63197984s60.48082845-134.63197984 134.63198106-134.63198106 134.63197984 60.48082845 134.63197984 134.63198106-60.48082845 134.63197984-134.63197984 134.63197984zM58.19763675 263.44865185h476.39008355c22.78387317 0 41.42522429-18.64135111 41.42522549-41.42522429s-18.64135111-41.42522429-41.42522549-41.4252255h-476.39008355a41.42522429 41.42522429 0 1 0 0 82.85044979zM348.17420918 449.86216297h-289.97657243c-22.78387317 0-41.42522429 18.64135111-41.42522429 41.42522428s18.64135111 41.42522429 41.42522429 41.4252255h289.97657243c22.78387317 0 41.42522429-18.64135111 41.42522551-41.4252255s-18.64135111-41.42522429-41.42522551-41.42522428zM223.8985351 719.12612386h-165.70089835c-22.78387317 0-41.42522429 18.64135111-41.42522429 41.42522429s18.64135111 41.42522429 41.42522429 41.42522429h165.70089835c22.78387317 0 41.42522429-18.64135111 41.42522551-41.42522429s-18.64135111-41.42522429-41.42522551-41.42522429z";
}

.sound-btn Region {
    -fx-shape: "M580.096 907.264c-19.968 0-39.424-6.144-56.32-17.92l-215.04-157.696c-11.264-8.192-25.6-12.288-40.448-12.288H194.048c-53.76 0-97.792-44.032-97.792-97.792V402.944c0-53.76 44.032-97.792 97.792-97.792h74.24c14.848 0 29.184-4.608 40.96-12.8l214.016-156.672 0.512-0.512c35.84-25.088 82.432-23.552 116.736 3.072 23.552 18.432 37.376 48.128 37.376 79.36v589.312c0 28.16-10.752 54.272-29.696 72.704-18.432 17.92-42.496 27.648-68.096 27.648zM194.048 375.808c-14.848 0-27.136 12.288-27.136 27.136v218.624c0 14.848 12.288 27.136 27.136 27.136h74.24c29.184 0 57.856 8.704 81.92 25.6l215.552 157.696c4.096 2.56 9.216 4.608 14.848 4.608 5.12 0 12.288-1.536 19.456-8.192 5.12-4.608 7.68-12.8 7.68-20.992V217.6c0-10.24-3.584-18.944-10.24-23.552-9.728-7.68-22.528-8.192-32.256-1.024L350.72 349.696c-24.576 17.408-52.736 26.112-82.432 26.112H194.048zM837.632 694.784c-6.656 0-13.312-2.048-18.944-5.632-16.384-10.752-21.504-32.256-10.752-49.152 66.048-103.424 66.048-193.536 0-283.136-11.776-15.872-8.192-37.888 7.168-49.664s37.888-8.192 49.664 7.168c83.456 113.152 84.48 235.008 3.072 363.008-7.168 11.776-18.432 17.408-30.208 17.408z";
}

/*----------中间区域--------------------*/
.spectrum-pane,
.lrc-pane {
    -fx-border-width: 0;
}

/* 频谱可视化组件 */
.rx-audio-spectrum {
    /*频谱柱子的形状*/
    -rx-bar-shape: "M838.374502 504.860558q2.039841 8.159363 5.099602 17.338645l4.079681 16.318725q2.039841 8.159363 2.039841 13.258964 0 28.557769-15.298805 50.486056t-39.776892 32.12749q-9.179283 1.01992-19.378486 1.01992-8.159363 1.01992-18.358566 1.01992l-19.378486 0-159.10757 2.039841 0 170.326693q0 37.737052 1.52988 75.984064t3.569721 68.844622q2.039841 36.717131 5.099602 70.374502l-146.868526 0 3.059761-39.776892q1.01992-23.458167 2.039841-63.74502t1.01992-107.601594l0-156.047809q-17.338645 15.298805-38.756972 15.298805-17.338645 0-30.087649-8.159363t-20.908367-22.438247l-115.250996-6.119522q-33.657371-8.159363-56.095618-34.167331t-22.438247-61.705179q0-6.119522 1.01992-11.219124t3.059761-10.199203l25.498008-59.155378q2.039841-22.438247 12.749004-41.816733t27.027888-33.657371l160.12749-296.796813 1.01992 0q19.378486-35.697211 45.896414-61.195219t68.334661-25.498008q36.717131 0 65.784861 19.378486t43.346614 50.996016l128.50996 251.920319q34.677291 12.239044 57.115538 42.836653t22.438247 70.374502q0 16.318725-5.099602 34.677291z";
    -rx-crest-pos: DOUBLE;
}

.rx-audio-spectrum .bar-box {
    -fx-spacing: 2;
}

.rx-audio-spectrum .bar {
    -fx-background-color: -base-hover-color;
}

/*歌词组件*/
.rx-lrc-view {
    -rx-line-height: 50;
    -fx-font-size: 19;
    /*字体*/
    -fx-font-family: "华文行楷";
}
.rx-lrc-view .lrc-line {
    -fx-text-fill: white;
}

.rx-lrc-view .lrc-line:playing {
    -fx-text-fill: -base-hover-color;
}

/* MediaProgressBar 多媒体播放进度条 */
.rx-media-progress-bar {
    -fx-pref-height: 7;
    /*当前播放进度条颜色*/
    -rx-current-fill: -base-hover-color;
    /*圆形按钮的颜色*/
    -rx-thumb-fill: -base-hover-color;
}
.rx-media-progress-bar:hover {
    -fx-pref-height: 10;
}

/*-------------顶部区域----------*/
.logo-label {
    -fx-fill: white;
    -fx-font-size: 23;
}

.skin-btn Region {
    -fx-shape: "M693.27675386 902.9034701H330.14111117c-42.03012781 0-76.14322234-34.11309459-76.14322235-76.14322239V554.67047595l-36.44163409 37.9551835c-5.93777437 6.17062853-14.20408725 9.77986323-22.81968186 9.77986331-8.61559353 0-16.88190751-3.49280827-22.81968073-9.77986331L29.17745663 444.06487723c-11.75912107-12.22482944-11.75912107-31.66812957 0-43.89295901l256.2557076-267.0834131c5.82134786-7.2184707 14.66979555-11.87554877 24.56608539-11.87554755h84.64238935c17.46404237 0 31.66812957 14.20408725 31.6681296 31.66812845 0 37.60590394 47.61862031 71.02043703 85.10809657 71.02043703s85.10809769-33.41453319 85.10809767-71.02043703c0-17.46404237 14.20408725-31.66812957 31.66812839-31.66812845h84.99167122c10.47842478 0 19.79258084 5.12278528 25.49750105 12.92339088l256.1392799 266.61770466c11.75912107 12.22482944 11.75912107 31.66812957-4e-8 43.89295898L852.31596206 593.32422189c-5.93777437 6.17062853-14.20408725 9.77986323-22.81968193 9.77986346-8.61559353 0-16.88190751-3.49280827-22.81968071-9.66343682l-37.14019555-38.53731954v271.97334524c-0.11642652 41.91370013-34.3459487 76.0267958-76.25965001 76.0267958z m-407.61073659-458.72216635c3.95851666 0 8.03345978 0.69856144 11.87554876 2.3285396 11.99197526 4.88993225 19.90900738 16.53262676 19.90900735 29.45601651v350.79438785c0 6.98561649 5.70492019 12.69053667 12.69053779 12.69053672H693.27675386c6.98561649 0 12.69053667-5.70492019 12.69053786-12.69053672v-350.44510602c0-12.92339086 7.8006056-24.56608537 19.79258081-29.45601764 11.99197526-4.88993225 25.73035518-1.86283121 34.69522943 7.45132487l68.80832517 71.36971657 98.73004999-102.80499195-228.54609462-238.32595797h-44.00938556c-17.69689533 60.54201109-83.94382794 102.68856544-144.02013188 102.68856543S385.21105633 244.97480025 367.51416093 184.54921557h-43.54367832L96.00652288 422.06018444l98.61362345 102.80499316 68.10976371-70.90401054c6.17062853-6.28705516 14.5533679-9.77986323 22.9361073-9.77986331z";
}

.full-btn {
    -fx-background-color: null;
}

.full-btn Region {
    -fx-pref-width: 16;
    -fx-pref-height: 16;
    -fx-shape: "M628.053333 628.053333a32 32 0 0 1 45.226667 0l158.72 158.634667V693.333333l0.298667-4.352A32 32 0 0 1 896 693.333333v181.333334l-0.341333 3.84a21.333333 21.333333 0 0 1-20.992 17.493333h-181.333334l-4.352-0.298667a32 32 0 0 1-27.648-31.701333l0.298667-4.352a32 32 0 0 1 31.701333-27.648h93.44l-158.72-158.72-3.114666-3.584a32 32 0 0 1 3.114666-41.642667z m-232.106666 0a32 32 0 0 1 3.114666 41.642667l-3.114666 3.584-158.72 158.72h93.44a32 32 0 0 1 31.701333 27.648l0.298667 4.352a32 32 0 0 1-27.648 31.701333L330.666667 896H149.333333a21.333333 21.333333 0 0 1-20.992-17.493333L128 874.666667v-181.333334a32 32 0 0 1 63.701333-4.352l0.298667 4.352v93.354667l158.72-158.634667a32 32 0 0 1 45.226667 0zM874.666667 128a21.333333 21.333333 0 0 1 20.992 17.493333L896 149.333333v181.333334a32 32 0 0 1-63.701333 4.352L832 330.666667V237.312L673.28 395.946667a32 32 0 0 1-48.341333-41.642667l3.114666-3.584 158.72-158.72h-93.44a32 32 0 0 1-31.701333-27.648L661.333333 160a32 32 0 0 1 27.648-31.701333L693.333333 128h181.333334zM330.666667 128l4.352 0.298667a32 32 0 0 1 27.648 31.701333l-0.298667 4.352a32 32 0 0 1-31.701333 27.648H237.226667l158.72 158.72 3.114666 3.584a32 32 0 0 1-48.341333 41.642667L192 237.312V330.666667l-0.298667 4.352A32 32 0 0 1 128 330.666667V149.333333l0.341333-3.84A21.333333 21.333333 0 0 1 149.333333 128h181.333334z";
    -fx-background-color: white;
}

.full-btn:selected Region {
    -fx-shape: "M749.248 704H864a32 32 0 1 0 0-64H672a32 32 0 0 0-32 32v192a32 32 0 1 0 64 0v-114.752l137.36 137.36a32 32 0 1 0 45.232-45.264L749.248 704zM320 749.248V864a32 32 0 1 0 64 0V672a32 32 0 0 0-32-32H160a32 32 0 1 0 0 64h114.752l-137.36 137.36a32 32 0 1 0 45.264 45.232L320 749.248zM749.248 320H864a32 32 0 1 1 0 64H672a32 32 0 0 1-32-32V160a32 32 0 1 1 64 0v114.752l137.36-137.36a32 32 0 1 1 45.232 45.264L749.248 320zM320 274.752V160a32 32 0 1 1 64 0v192a32 32 0 0 1-32 32H160a32 32 0 1 1 0-64h114.752l-137.36-137.36a32 32 0 1 1 45.264-45.232L320 274.752z";
}

.full-btn:hover Region {
    -fx-background-color: -base-hover-color;
}

.mini-btn Region {
    -fx-shape: "M821.47555555 20.48H202.52444445C102.4 20.48 20.48 102.4 20.48 202.52444445v618.9511111c0 100.12444445 81.92 182.04444445 182.04444445 182.04444445h618.9511111c100.12444445 0 182.04444445-81.92 182.04444445-182.04444445V202.52444445c0-100.12444445-81.92-182.04444445-182.04444445-182.04444445z m109.22666667 800.99555555c0 60.07466667-49.152 109.22666667-109.22666667 109.22666667h-109.22666666v-109.22666667c0-60.07466667 49.152-109.22666667 109.22666666-109.22666666h109.22666667v109.22666666z m0-182.04444444h-109.22666667c-100.12444445 0-182.04444445 81.92-182.04444444 182.04444444v109.22666667H202.52444445c-60.07466667 0-109.22666667-49.152-109.22666667-109.22666667V202.52444445c0-60.07466667 49.152-109.22666667 109.22666667-109.22666667h618.9511111c60.07466667 0 109.22666667 49.152 109.22666667 109.22666667v436.90666666zM566.61333333 311.75111111c-20.02488889 0-36.40888889 16.384-36.40888888 36.40888889v131.072L273.52177778 222.54933333c-14.56355555-14.56355555-36.40888889-14.56355555-50.97244445 0-14.56355555 14.56355555-14.56355555 36.40888889 0 50.97244445L479.232 530.20444445H348.16c-20.02488889 0-36.40888889 16.384-36.40888889 36.40888888s16.384 36.40888889 36.40888889 36.40888889h218.45333333c10.92266667 0 20.02488889-3.64088889 25.48622222-10.92266667 7.28177778-7.28177778 10.92266667-16.384 10.92266667-25.48622222V348.16c0-20.02488889-16.384-36.40888889-36.40888889-36.40888889z";
}

.close-btn Region {
    -fx-shape: "M846.841 799.024L562.002 514.185l284.839-284.96c13.714-13.714 13.714-36.045 0-49.759s-36.045-13.714-49.759 0L512.243 464.305l-284.96-284.839c-13.714-13.714-36.045-13.714-49.759 0s-13.714 36.045 0 49.759l284.96 284.96-284.96 284.839c-13.714 13.714-13.714 36.045 0 49.759s36.045 13.714 49.759 0l284.96-284.96 284.96 284.96c13.714 13.714 36.045 13.714 49.759 0 13.593-13.714 13.593-36.045-0.122-49.759z";
}

.close-btn:hover Region {
    -fx-background-color: red;
}

/*--------歌曲列表页------------------*/
.slider-pane {
    -fx-background-color: white;
}

.slider-pane-bottom {
    -fx-border-width: 2 0 0 0;
    -fx-border-color: -base-hover-color;
}

.hide-list-btn Region {
    -fx-shape: "M1003.93551646 175.21292325c-55.92405333-63.79484562-127.17543939-113.71224178-205.88336713-144.15978192a41.30094862 41.30094862 0 0 0-56.33830517 38.52545897v510.15164207a216.03254636 216.03254636 0 0 0-134.63197984-47.01762962c-119.92602548 0-217.48242963 97.55640415-217.48242963 217.48242963S487.15583883 967.67747201 607.08186432 967.67747201s217.48242963-97.55640415 217.48242962-217.48242963c0-2.27838695-0.20712653-4.55677511-0.41425305-6.83516207 0-1.24275675 0.41425184-2.27838695 0.41425305-3.52114492V134.82332918c43.91073777 24.64800829 83.88608 56.95968355 117.23338547 94.86376414 15.12020741 17.19146784 41.42522429 18.84847764 58.40956682 3.72827023 17.19146784-14.91308089 18.84847764-41.01097245 3.72827023-58.2024403zM607.08186432 884.82702222c-74.15115261 0-134.63197984-60.48082845-134.63198106-134.63197984s60.48082845-134.63197984 134.63198106-134.63198106 134.63197984 60.48082845 134.63197984 134.63198106-60.48082845 134.63197984-134.63197984 134.63197984zM58.19763675 263.44865185h476.39008355c22.78387317 0 41.42522429-18.64135111 41.42522549-41.42522429s-18.64135111-41.42522429-41.42522549-41.4252255h-476.39008355a41.42522429 41.42522429 0 1 0 0 82.85044979zM348.17420918 449.86216297h-289.97657243c-22.78387317 0-41.42522429 18.64135111-41.42522429 41.42522428s18.64135111 41.42522429 41.42522429 41.4252255h289.97657243c22.78387317 0 41.42522429-18.64135111 41.42522551-41.4252255s-18.64135111-41.42522429-41.42522551-41.42522428zM223.8985351 719.12612386h-165.70089835c-22.78387317 0-41.42522429 18.64135111-41.42522429 41.42522429s18.64135111 41.42522429 41.42522429 41.42522429h165.70089835c22.78387317 0 41.42522429-18.64135111 41.42522551-41.42522429s-18.64135111-41.42522429-41.42522551-41.42522429z";
    -fx-background-color: -base-hover-color;
}

.add-btn {
    -fx-background-color: -base-hover-color;
}

.add-btn:pressed {
    -fx-background-color: derive(-base-hover-color, -20%);
}

.slider-pane-top {
    -fx-border-width: 0 0 2 0;
    -fx-border-color: -base-hover-color;
}

.cover-pane {
    -fx-background-color: #0003;
}


.list-view {
    -fx-font-size: 14;
    -fx-focus-color: #0000;
    -fx-faint-focus-color: #0000;
}

.list-cell {
    -fx-pref-height: 40;
    -fx-background-color: null;
}

.list-cell:hover,
.list-cell:selected {
    -fx-background-color: #F8F8F8;
}

.list-cell:hover .label,
.list-cell:selected .label {
    -fx-text-fill: -base-hover-color;
}

.list-cell .remove-btn {
    -fx-background-color: null;
    -fx-pref-height: 38;
    -fx-pref-width: 38;
    visibility: hidden;
}

.list-cell .remove-btn Region {
    -fx-background-color: -base-hover-color;
    -fx-shape: "M798.938839 1017.751676h-497.58838a120.584726 120.584726 0 0 1-123.951493-118.62903V274.661607a29.706769 29.706769 0 0 1 31.910021-29.186901 30.89504 30.89504 0 0 1 31.885265 29.186901v624.461039a60.131451 60.131451 0 0 0 62.01288 58.349045h497.58838a61.319722 61.319722 0 0 0 62.01288-58.349045V274.661607a29.706769 29.706769 0 0 1 31.885266-29.186901 30.919795 30.919795 0 0 1 31.910021 29.186901v624.461039a125.189275 125.189275 0 0 1-127.615329 118.62903z m-92.041472-178.933771a30.89504 30.89504 0 0 1-31.885266-29.186901V393.315393a29.855303 29.855303 0 0 1 31.885266-29.261168 30.919795 30.919795 0 0 1 31.910021 29.261168v416.241344a32.182333 32.182333 0 0 1-31.910021 29.36019z m-155.960537 0a30.89504 30.89504 0 0 1-31.885266-29.186901V393.315393a29.706769 29.706769 0 0 1 31.885266-29.261168 30.969307 30.969307 0 0 1 31.910021 29.261168v416.241344a30.919795 30.919795 0 0 1-31.786243 29.36019z m-155.960537 0a30.870284 30.870284 0 0 1-31.910021-29.186901V393.315393a29.706769 29.706769 0 0 1 31.910021-29.261168 30.969307 30.969307 0 0 1 31.910021 29.261168v416.241344a30.919795 30.919795 0 0 1-31.662465 29.36019zM1063.551883 214.431133H38.098975A30.89504 30.89504 0 0 1 6.188954 185.268988a29.706769 29.706769 0 0 1 31.910021-29.261168H332.963412V95.802102A91.37307 91.37307 0 0 1 426.886314 6.31046h247.878231a92.561341 92.561341 0 0 1 93.898145 89.491642v60.205718h294.889193a29.335434 29.335434 0 1 1 0 58.423313zM394.976293 154.225414h311.673517V93.920673a29.706769 29.706769 0 0 0-31.885265-29.162145H426.886314a30.89504 30.89504 0 0 0-31.910021 29.162145zM799.013106 1023.940586h-497.58838a126.253768 126.253768 0 0 1-130.115648-124.842696V274.661607a35.994702 35.994702 0 0 1 38.098931-35.375811 36.861149 36.861149 0 0 1 38.074176 35.375811v624.436283a54.165342 54.165342 0 0 0 55.82397 52.184891h497.58838a55.526902 55.526902 0 0 0 55.82397-52.184891V274.661607a35.994702 35.994702 0 0 1 38.098931-35.375811 36.836393 36.836393 0 0 1 38.074175 35.375811v624.436283a130.586005 130.586005 0 0 1-133.878505 124.842696z m-589.728875-772.375992a23.666393 23.666393 0 0 0-25.721111 22.99799V898.998867a113.875948 113.875948 0 0 0 117.737828 112.464877h497.58838a119.693523 119.693523 0 0 0 121.30264-112.61341V274.661607a24.755641 24.755641 0 0 0-25.696355-22.997991 23.666393 23.666393 0 0 0-25.721111 22.997991v624.436283a67.360099 67.360099 0 0 1-68.201791 64.562711h-497.58838a66.518407 66.518407 0 0 1-68.20179-64.562711V274.661607a24.755641 24.755641 0 0 0-25.49831-22.997991z m497.58838 593.343198a36.861149 36.861149 0 0 1-38.098931-35.37581V393.315393a36.019457 36.019457 0 0 1 38.098931-35.450078 36.885905 36.885905 0 0 1 38.074175 35.450078v416.241344a38.371243 38.371243 0 0 1-38.049419 35.375811z m0-474.689412a23.691148 23.691148 0 0 0-25.721111 23.072257v416.241345a24.755641 24.755641 0 0 0 25.696355 22.99799 25.8944 25.8944 0 0 0 25.745867-23.56737v-415.647209a24.755641 24.755641 0 0 0-25.696355-22.99799z m-155.960537 474.689412a36.861149 36.861149 0 0 1-38.098931-35.37581V393.315393a36.019457 36.019457 0 0 1 38.098931-35.450078 36.885905 36.885905 0 0 1 38.074175 35.450078v416.241344a36.836393 36.836393 0 0 1-37.925641 35.450078z m0-474.689412a23.691148 23.691148 0 0 0-25.721111 23.072257v416.241345a25.869645 25.869645 0 0 0 51.417466 0V393.315393a24.755641 24.755641 0 0 0-25.547821-22.99799z m-155.960537 474.689412a36.861149 36.861149 0 0 1-38.098931-35.37581V393.315393a36.019457 36.019457 0 0 1 38.098931-35.450078 36.91066 36.91066 0 0 1 38.098931 35.450078v416.241344a36.861149 36.861149 0 0 1-37.826619 35.450078z m0-474.689412a23.691148 23.691148 0 0 0-25.721111 23.072257v416.241345a25.8944 25.8944 0 0 0 51.442222 0V393.315393a24.755641 24.755641 0 0 0-25.448799-22.99799zM1063.502372 220.52102H38.049464A36.836393 36.836393 0 0 1-0.024712 185.169965a36.019457 36.019457 0 0 1 38.074176-35.450077H326.774502V95.678324a98.032338 98.032338 0 0 1 100.087056-95.655796h247.853476a99.27012 99.27012 0 0 1 100.111811 95.655796v54.041564H1063.502372a36.885905 36.885905 0 0 1 38.098931 35.450077 37.306751 37.306751 0 0 1-37.826619 35.450078zM38.049464 162.097708a23.666393 23.666393 0 0 0-25.696355 23.072257 24.755641 24.755641 0 0 0 25.696355 22.973235H1063.502372a23.17128 23.17128 0 1 0 0-46.045492H762.449025V95.678324A86.644743 86.644743 0 0 0 674.715034 12.400348H426.861558A85.679273 85.679273 0 0 0 339.152323 95.678324v66.419384z m674.764501-1.782406h-324.051338V93.821651a36.861149 36.861149 0 0 1 38.098931-35.375811h247.853476a36.019457 36.019457 0 0 1 38.098931 35.375811z m-311.673518-12.377821h299.295697V93.821651a23.666393 23.666393 0 0 0-25.72111-22.997991H426.861558a24.755641 24.755641 0 0 0-25.721111 22.997991z";
}

.list-cell:hover .remove-btn,
.list-cell:selected .remove-btn {
    visibility: visible;
}

.list-cell:empty {
    -fx-background-color: null;
}


/*-----------声音弹窗------------*/
.sound-root {
    -fx-background-color: null;
}

.sound-pane {
    -fx-background-color: white;
    -fx-background-radius: 5;
}

.sound-slider .thumb,
.sound-slider .track {
    -fx-background-color: -base-hover-color;
}

.sound-slider .track {
    -fx-min-width: 3;
    -fx-pref-width: 3;
    -fx-max-width: 3;
}

/*---------换肤弹窗样式-----*/
.skin-root {
    -fx-background-color: white;
    -fx-background-radius: 5;
}

.skin-toggle-btn {

}

.skin-toggle-btn:selected Region {
    -fx-shape: "M512 0C229.233 0 0 229.233 0 512s229.233 512 512 512 512-229.233 512-512S794.767 0 512 0zM389.775 743.014L184.32 542.618l36.29-52.757L389.776 610.96 787.15 286.72l35.41 27.34-432.784 428.975z";
    -fx-background-color: -base-hover-color;
}

.skin-gold {
    -fx-background-image: url("../img/skin-gold.png");
}

.skin-blue {
    -fx-background-image: url("../img/skin-blue.png");
}

.skin-black {
    -fx-background-image: url("../img/skin-black.png");
}

.skin-colorful {
    -fx-background-image: url("../img/skin-colorful.png");
}
